<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.pmartin.homebrew</string>
	<key>RunAtLoad</key>
	<true/>
	<key>UserName</key>
	<string>_brew</string>
	<key>GroupName</key>
	<string>_brew</string>
	<key>WorkingDirectory</key>
	<string>/opt/homebrew</string>
	<key>StandardOutPath</key>
	<string>/opt/homebrew/Library/Logs/brew_out.log</string>
	<key>StandardErrorPath</key>
	<string>/opt/homebrew/Library/Logs/brew_err.log</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/libexec/brew_update.sh</string>
	</array>
	<key>StartInterval</key>
	<integer>14400</integer>
	<key>Nice</key>
	<integer>5</integer>
	<key>ProcessType</key>
	<string>Background</string>
	<key>LowPriorityIO</key>
	<true/>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
</dict>
</plist>
